In [1]:
import pandas as pd

df =pd.read_html("Nation_Trust_Bank_Exchange_Rates.html")

df

[   Currency Code             Currency  DD Buying Rate  Mid Rates  \
 0            USD            US DOLLAR          297.53     303.60
 1            GBP        BRITISH POUND          381.56     391.34
 2            EUR  EUROP CURRENCY UNIT          319.23     329.10
 3            JPY         JAPANESE YEN            1.91       1.99
 4            NZD   NEW ZEALAND DOLLAR          173.47     179.76
 5            HKD     HONG KONG DOLLAR           37.33      38.89
 6            JOD      JORDANIAN DINAR          411.08     428.21
 7            KWD        KUWAITI DINAR          953.56     993.29
 8            MYR    MALAYSIAN RINGGIT           62.39      64.99
 9            NOK      NORWEGIAN KRONE           26.37      27.47
 10           OMR           OMANI RIAL          757.06     788.60
 11           QAR         QATARI RIYAL           79.93      83.26
 12           SAR  SAUDI ARABIAN RIYAL           77.69      80.93
 13           SEK        SWEDISH KRONA           27.02      28.15
 14           SGD     SINGAPORE DOLLAR          217.99     225.90
 15           THB            THAI BHAT            8.07       8.40
 16           DKK         DANISH KRONE           42.34      44.10
 17           CHF          SWISS FRANC          331.40     343.42
 18           CAD      CANADIAN DOLLAR          212.01     219.70
 19           BHD       BAHRAINI DINAR          773.11     805.33
 20           AED       EMIRATI DIRHAM           79.35      82.66
 21           AUD    AUSTRALIAN DOLLAR          192.07     199.04

     DD Selling Rate
 0            309.67
 1            401.12
 2            338.98
 3              2.07
 4            186.05
 5             40.44
 6            445.34
 7           1033.02
 8             67.59
 9             28.57
 10           820.15
 11            86.59
 12            84.17
 13            29.28
 14           233.81
 15             8.74
 16            45.86
 17           355.44
 18           227.39
 19           837.54
 20            85.97
 21           206.01  ]